<div class="registries-callout text-center container-fluid">
  <h1>REGISTRIES</h1>
  <p><br>As we start our journey together, we're going to need abuncha stuff!<br><br>
    Here are some options we picked out that would best prepare us for our adventure (besides lightsabers).<br>
  </p>
</div>
